<!doctype html>
<head>
    <title>Hearth Stone Card Display</title>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #EBEDEF;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<h1>Hearthstone high mana Legendary Warlock and Druids</h1>
<p><strong>A random list of ten legendary Hearthstone cards with 7 or more mana from
    the Druid and Warlock classes sorted by card Id.<strong></p>
<table bordercolor = black >
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Type</th>
        <th>Rarity</th>
        <th>Set</th>
        <th>Class</th>
    </tr>
{% for card in cards %}
    <tr>
        <td><img src='{{card["image"]}}' title='{{card["id"]}}' height=250 width=200/></td>
        <td>{{card["name"]}}</td>
        <td>{{card["type_name"]}}</td>
        <td>{{card["rarity_name"]}}</td>
        <td>{{card["set_name"]}}</td>
        <td>{{card["class_name"]}}</td>
{% endfor %}
</table>